In [1]:
import pandas as pd

In [2]:
pip install pyarrow

Requirement already satisfied: pyarrow in ./opt/anaconda3/lib/python3.9/site-packages (15.0.0)
Requirement already satisfied: numpy<2,>=1.16.6 in ./opt/anaconda3/lib/python3.9/site-packages (from pyarrow) (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
df1 = pd.read_csv('/Users/manvithby/Downloads/green_tripdata_2020-10.csv')
df2 = pd.read_csv('/Users/manvithby/Downloads/green_tripdata_2020-11.csv')
df3 = pd.read_csv('/Users/manvithby/Downloads/green_tripdata_2020-12.csv')

/var/folders/pj/t3kfd5bs2l15bfts13_5krb00000gn/T/ipykernel_21501/1465880531.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('/Users/manvithby/Downloads/green_tripdata_2020-10.csv')
/var/folders/pj/t3kfd5bs2l15bfts13_5krb00000gn/T/ipykernel_21501/1465880531.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('/Users/manvithby/Downloads/green_tripdata_2020-11.csv')
/var/folders/pj/t3kfd5bs2l15bfts13_5krb00000gn/T/ipykernel_21501/1465880531.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv('/Users/manvithby/Downloads/green_tripdata_2020-12.csv')

In [3]:
df = pd.concat([df1, df2, df3], ignore_index=True)

In [4]:
df.shape

(266855, 20)

In [7]:
df.dtypes

VendorID                 float64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID               float64
PULocationID               int64
DOLocationID               int64
passenger_count          float64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type             float64
trip_type                float64
congestion_surcharge     float64
dtype: object

In [10]:
df_final = df[(df['passenger_count'] > 0) & (df['trip_distance'] > 0)]

# Resetting the index after filtering
df_final.reset_index(drop=True, inplace=True)

In [11]:
df_final.shape

(139370, 20)

In [13]:
vendor_ids = df['VendorID'].unique()

# Display the unique values
vendor_ids

array([ 2.,  1., nan])

In [14]:
columns_to_rename = [col for col in df.columns if not col.islower() or ' ' in col]
num_columns_to_rename = len(columns_to_rename)

print(f"Number of columns to be renamed to snake case: {num_columns_to_rename}")
print("Columns to be renamed:", columns_to_rename)

Number of columns to be renamed to snake case: 4
Columns to be renamed: ['VendorID', 'RatecodeID', 'PULocationID', 'DOLocationID']

In [16]:
# Assuming 'data' is your DataFrame
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_pickup_date'] = df['lpep_pickup_datetime'].dt.date

In [17]:
# Assuming 'data' is your DataFrame
unique_pickup_dates = df['lpep_pickup_date'].unique()

# Number of unique values in 'lpep_pickup_date'
num_partitions_before_export = len(unique_pickup_dates)

print(f"Number of unique 'lpep_pickup_date' values before export: {num_partitions_before_export}")

Number of unique 'lpep_pickup_date' values before export: 96